
/* ┏━╸╻ ╻╻┏━┓╺┳╸╻┏┓╻┏━╸   ┏━╸┏━┓╻  ╻  ┏━┓╻ ╻╺┳╸┏━┓ */
/* ┣╸ ┏╋┛┃┗━┓ ┃ ┃┃┗┫┃╺┓   ┃  ┣━┫┃  ┃  ┃ ┃┃ ┃ ┃ ┗━┓ */
/* ┗━╸╹ ╹╹┗━┛ ╹ ╹╹ ╹┗━┛   ┗━╸╹ ╹┗━╸┗━╸┗━┛┗━┛ ╹ ┗━┛ */

.callout {
    /* font-size: 80%; */
}


.callout[data-callout="todo"] {
    /* orange is my color for todo
     * (especially since tags are orange, and tasks have the #task tag) */
    --callout-color: 250, 155, 33;
    --callout-icon: clipboard check;
}


/* ┏┓╻┏━╸╻ ╻   ┏━╸┏━┓╻  ╻  ┏━┓╻ ╻╺┳╸┏━┓ */
/* ┃┗┫┣╸ ┃╻┃   ┃  ┣━┫┃  ┃  ┃ ┃┃ ┃ ┃ ┗━┓ */
/* ╹ ╹┗━╸┗┻┛   ┗━╸╹ ╹┗━╸┗━╸┗━┛┗━┛ ╹ ┗━┛ */


.callout[data-callout="query"] {
    /* small and green, for queries (dataview...) */
    /* change this -------.  to adjust brightness */
    /*                    |                       */
    /*                    V                       */
    --callout-color: 68, 140, 80;
    --callout-icon: database;
    /* --callout-icon: '<svg>...custom svg...</svg>'; */
    /* font-size: 18px; /1* smaller font size, to see more results at se same time *1/ */
    font-size: 80%; /* smaller font size, to see more results at se same time */
    /* also change the size of any table contained in the callout */
    --table-font-size: 80%;
    --font-code: 80%;
}

.callout[data-callout="bigquery"] {
    /* same as query, but with default (bigger) size */
    --callout-color: 68, 140, 80;
    --callout-icon: database;
}



.callout[data-callout="idea"] {
    /* ideas for future things (improvements...) */
    --callout-color: 252, 213, 0;
    --callout-icon: Lightbulb;
}


.callout[data-callout="definition"], .callout[data-callout="définition"]{
    /* definitions (expecially in maths) */
    --callout-color: 77, 149, 247;
    --callout-icon: Feather;
}



